{
  "presets": ["react", "env"],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@actions": "./src/store/actions",
        "@src": "./src"
      }
    }]
  ]
}
